.signupdiv{
    margin-top: 200px;
    /* border: 2px solid black; */
    /* height: 60vh; */
    /* width: 60vw; */
    /* margin-left: 150px; */
} 

#headingsign{
    margin-left: 700px;
}

form{
    margin-top: 100px;
    margin-left: 150px;
    display: flex;
    justify-content: center;
}

#signupbtn{
    width: 7vw;
    height: 5vh;
    margin-left: 650px;
    margin-top: 20px;
    background-color: blue;
} 

.namediv{
    margin-left: 200px;
    /* margin-left: 130px; */

}
#name{
    margin-left: 130px;

}

.emaildiv{
    margin-left: 200px;
    
}
#email{
    height: 4vh;
    margin-left: 130px;
    width:21vw ;
}

.passworddiv{
    margin-left: 200px;
    margin-top: 20px;
}
#password{
    margin-left: 100px;

}

.confirmpassworddiv{
    margin-left: 200px;
}