*{
  padding: 0;
  margin: 0;
}
.exploreimg {
  height: 64vh;
  width: 99.8vw;
  margin-top: 150px;

 
}

#img1{
  height: 20vh;
  border-radius: 200px;
  margin-left:40px;
  border: 2px solid green;
  margin-top: 60px;

}

#img3{
  height: 20vh;
  width: 9.5vw;
  border-radius: 200px;
  margin-left:40px;
  border: 2px solid green;
  margin-top: 60px;
}

.imagesgird{
  display: grid;
  grid-template-columns: auto auto auto;
  /* margin-left: 150px;  */
  align-items: center;


}  

.apiimgs{
  height: 30vh;
margin-left: 150px;
width: 10vw;
align-items: center;
}

.imagecard{
  border: 2px solid;
  margin: 20px 20px 20px 20px;
  border-radius: 15px; 
  

}


.name{
 margin-left: 50px;
}
