.Main {
    width: 100%;
    /* padding: 20px; */
  }
  /* body{
    background-color: #ce07fa;
  } */
  
  nav {
    background-color: rgb(251, 251, 251);
    color: #26fc05;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 1650px;
    margin-top:-390px;
    margin-left: -2.5%;
    margin-right: -2%;
    box-shadow: 5px 5px 5px 5px rgb(170, 170, 170);
  }
  
  .logo img {
    height:260px;
    width: 400px;
    margin-left: 20px;
  }
  .logo{
    height: 250px;
  }
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 50px;
  }
  
  .nav-links li a {
    color: #216d1e;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: "Kadwa", serif;
  }
  
  .nav-links li a:hover {
    color: rgb(131, 239, 131);
  }
  .searchbar{
    margin-right: 40px;
  }